@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Catamaran:500,800|Roboto:400,700');

*	{
	padding: 0px;
	margin: 0;
}

/*	@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');
font-family: 'Raleway', sans-serif;
font-family: 'Vollkorn SC', serif;*/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px
}

header {
	background-color: #ffffff;
	padding: 10px 0 0 0;
}
section {
 	width: 100%;
}

article{

}
main{
	text-align: center;
}

footer{
	text-align: left; 
	background-color: #6e6e6e;
	padding: 40px;
}

strong{
	font-weight: 800;
	color: #ffff99;
	letter-spacing: 2px;
}

h1{
	font-family: Roboto;
	font-size: 2.5em;
	font-weight: 700;
	letter-spacing: 3px;
}

h2 {
	font-size: 1.75em;
	font-weight: 400;
	color: #3366cc;
	letter-spacing: 1px;
	padding: 20px 0px 5px 20px; 
}

h3 {
	font-size: 1.25em;
	line-height: 1.25em;
	font-weight: 400;
	color: #dd0000;
	padding-bottom: 5px;
}

h4 {
	font-size: 1.25em;	
	font-weight: 400;
	font-style: italic;
	color: #565656;
	padding: 10px 0px 0px 20px; 	
}
p {
	line-height: 1.25em;
	color: #565656;
}

nav {
	font-size: 1em;
	margin: 10px;
	padding: 5px;
	float: right;
}
nav a{	
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 20px;
    margin: 0px;
    border:none; 
}

a{
	color: ##3366cc;
	text-decoration: none;
}

.sitelogo{
	font-family: 'Merriweather', serif;
	font-size: 2em;
	color: #dd0000;
	float: left;
}

.lander{
	background:url(../assets/landerimage2.jpg) no-repeat top center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*background-color: #87C8FC;*/
	height: 480px;
	position: relative;
	text-align: center;
}

.lander-text {
    font-family: 'Catamaran', serif;
	font-size: 3.75em;
	font-weight: 500;	
	letter-spacing: 0px;
	text-transform: uppercase;
	height: 200px;
	color: #ffff33;
	position: relative;
	top: 150px;
}

.lander-text2{	
	font-family: 'Catamaran', serif;
	font-size: 2.5em;
	letter-spacing: 1px;
	text-transform: lowercase;
	color: #ccffff;
	margin-top: 50px;
}

.clearfloat{
	clear: both;
}

.article {
	width: 100%;
 	float: left;
}

.nav{
	color: #ffffcc;
}
.nav a{
	color: #ccffff;
}

.artwork{
	width: 24%;
 	padding: 3%;
 	float: left;
 }
 .artwork-text{
	width: 26%;
 	padding: 3%;
 	float: left;
 }

 #about{
	background-color: white;
	text-align: left;
 	position: relative;
}
#center{
	text-align: center;
}

#design{
	background-color: #ccc;
	text-align: left;	
 	position: relative;
	text-decoration: none;
}

#art{
	text-align: left;
 	position: relative;
 	background-color: #ccffff;
}

/*#left {
    margin: 20px;
    padding: 2%; 
    float: left;
    width: 27%;
}

.clearfix:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}*/

}
#about-img{
	width: 160px;
}

.footer{
	color: #ffffff;
	float: right;
	padding-top: 5px;
}

@media only screen and (max-width: 800px) {
  body {
	font-size: 14px; 
  }
    nav {
    float: none;
  }
    nav a {
    float: none;
	margin: 0 1.6em .75em 0;
	}
	img {
    width: 320px;
  }
}

@media only screen and (max-width: 480px) {
 body {
	font-size: 13px;
	text-align: center; 
}

 nav {
    display: block;
    text-align: center;
    padding: 5px;
    margin: 10px 0 0 0;
  }
 nav a {
    padding: 5px 0;
    margin: 0px; 

  }
 h2 {
  font-size: 1.75em;
  display: block;
  }
 h3 {
  	font-size: 1.25em;
  }
 h4 {
  	font-size: 1.25em;
  	padding-top: 5px;
  }

 p{
  	font-size: 1em;
  	padding-bottom: 5px;
  }
 section, div {
    width: 100%;
    float: none;
  }
 img {
    width: 230px;}
 
 footer {
    padding: 2em}    

 .article {
    float: none;
 	display: block;
  }

 .artwork {
  	width: 70%;
  	padding: 2em;
  	float: none;
  	display: block;
  }
.artwork-text{
	width: 70%;
  	padding-bottom: 1em;
  	float: none;
  	display: block;
}

 .lander-text{
 	margin-top: .75em;
 }
 .lander-text2{
 	margin-top: 2em;
 }
#about-img{
	width: 50%;
}
.footer {
	float:none;

}
}